vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Nov 2004 12:27:16 -0000
vti_extenderversion:SR|5.0.2.6417
vti_author:SR|BRATEGGE\\hagera
vti_modifiedby:SR|BRATEGGE\\hagera
vti_timecreated:TR|24 Nov 2004 12:27:16 -0000
vti_cacheddtm:TX|24 Nov 2004 12:27:16 -0000
vti_filesize:IR|1446
vti_lineageid:SR|{4419EDE8-C1D1-4830-AD1A-F477208E211A}
vti_backlinkinfo:VX|FBKs/FBKs.html FBKs/SwitchConfiguration.html Data\\ types\\ and\\ constants/Constants.html SwitchConf.html Data\\ types\\ and\\ constants/Data\\ types\\ and\\ constants.html Data\\ types\\ and\\ constants/Data\\ types/ParameterList_typ.html Data\\ types\\ and\\ constants/Data\\ types/Data\\ types.html Data\\ types\\ and\\ constants/Data\\ types/SwitchConfiguration_typ.html General\\ information/C-Informations.html General\\ information/General\\ information.html General\\ information/History.html General\\ information/Requirements.html General\\ information/Status\\ Numbers.html Data\\ types\\ and\\ constants/Data\\ types/SwitchesACPm_typ.html
