vti_encoding:SR|utf8-nl
vti_author:SR|ATEGGE622\\enzingert
vti_timecreated:TR|10 Oct 2001 12:12:04 -0000
vti_modifiedby:SR|BRATEGGE\\neuboeckl
vti_lineageid:SR|{DFE9B879-A4AB-4B1E-B4A5-60F91E5CE454}
vti_backlinkinfo:VX|FBKs/FBKs.html FBKs/SwitchConfiguration.html Data\\ types\\ and\\ constants/Data\\ types/SwitchConfiguration_typ.html SwitchConf.html Data\\ types\\ and\\ constants/Data\\ types/ParameterList_typ.html Data\\ types\\ and\\ constants/Data\\ types/SwitchesACPm_typ.html General\\ information/General\\ information.html General\\ information/History.html General\\ information/C-Informations.html General\\ information/Requirements.html General\\ information/Status\\ Numbers.html
vti_extenderversion:SR|5.0.2.6417
vti_timelastmodified:TR|15 Dec 2003 15:34:50 -0000
vti_cacheddtm:TX|15 Dec 2003 14:34:50 -0000
vti_filesize:IR|4097
